@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import "theme-toggle.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

body {
  font-size: 2rem;
  background-color: var(--main-background);
}

button {
  font-size: 1.5rem;
  padding: 0.8rem 0.4rem;
  cursor: pointer;
  min-width: fit-content;
  border: none;
  color: var(--text);
  background-color: var(--pad-key-background);
}

.container {
  max-width: 250px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topo,
.tela {
  color: var(--text);
  margin-bottom: 1rem;
}

#operacao-anterior,
#operacao-atual {
  overflow-wrap: break-word;
  text-align: right;
  min-height: 1.8rem;
}

.tela,
.calculadora {
  padding: 1rem;
}

.tela {
  background-color: var(--screen-background);
}

button,
.tela,
.calculadora {
  border-radius: .5rem;
}

.calculadora {
  background-color: var(--toggle-keypad-background);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: .8rem;
}

#reset-button {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

#equals-button {
  grid-column: 3 / 5;
  grid-row: 5 / 6;
  background-color: var(--key-toggle);
  box-shadow: 0 3px var(--key-toggle-shadow);
}

#reset-button,
#equals-button,
#del {
  color: var(--text-2);
  font-size: .9rem;
}

#reset-button,
#del {
  background-color: var(--key-background);
  box-shadow: 0 3px var(--key-shadow);
}

button.btn {
  box-shadow: 0 3px var(--pad-key-shadow);
}

.topo {
  font-size: 0.7rem;
  height: 4rem;
  margin-top: 10px;
}

.toggle {
  display: flex;
  justify-content: space-between;
}

.float-right {
  display: flex;
  justify-content: flex-end;
}

.toggle p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20px;
  cursor: pointer;
}

.theme {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.theme p {
  cursor: pointer;
  margin-right: 15px;
  align-self: center;
}

.theme .box {
  width: 60px;
  height: 20px;
  background-color: var(--toggle-keypad-background);
  border-radius: 30px;
  margin-left: 4px;
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button#btn-1,
button#btn-2,
button#btn-3 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 0;
}

.cor-fundo {
  background-color: var(--toggle-keypad-background);
}

.active {
  background-color: var(--key-toggle);
}

button.btn:hover,
button.active:hover {
  filter: brightness(1.5);
}

@media (min-width: 350px) and (max-width: 575.98px) {
  .container {
    max-width: 300px;
  }

  .calculadora {
    grid-template-rows: repeat(4, 1fr) 0.8fr;
    padding: 1.4rem;
  }

  .tela {
    margin-bottom: 1.5rem;
  }

  .btn:not(#reset-button):not(#equals-button) {
    padding: 1.3rem .4rem;
  }

}

@media (min-width: 576px) {
  body {
    font-size: 2.5rem;
  }

  .container {
    max-width: 400px;
  }

  .calculadora {
    gap: 1.5rem;
  }

  button {
    font-size: 1.8rem;
  }

  #reset-button,
  #equals-button,
  #del {
    font-size: 1.2rem;
  }
}