.theme-1 {
  --main-background: hsl(222, 26%, 31%);
  --toggle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --key-toggle: hsl(6, 63%, 50%);
  --key-toggle-shadow: hsl(6, 70%, 34%);
  --pad-key-background: hsl(30, 25%, 89%);
  --pad-key-shadow: hsl(28, 16%, 65%);
  --text: hsl(221, 14%, 31%);
  --text-2: hsl(0, 0%, 100%);
}

.theme-2 {
  --main-background: hsl(0, 0%, 90%);
  --toggle-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --key-toggle: hsl(25, 98%, 40%);
  --key-toggle-shadow: hsl(25, 99%, 27%);
  --pad-key-background: hsl(45, 7%, 89%);
  --pad-key-shadow: hsl(35, 11%, 61%);
  --text: hsl(60, 10%, 19%);
  --text-2: hsl(0, 0%, 100%);
}

.theme-3 {
  --main-background: hsl(268, 75%, 9%);
  --toggle-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --key-background: hsl(281, 89%, 26%);
  --key-shadow: hsl(285, 91%, 52%);
  --key-toggle: hsl(176, 100%, 44%);
  --key-toggle-shadow: hsl(177, 92%, 70%);
  --pad-key-background: hsl(268, 47%, 21%);
  --pad-key-shadow: hsl(290, 70%, 36%);
  --text: hsl(52, 100%, 62%);
  --text-dark: hsl(198, 20%, 13%);
  --text-2: hsl(0, 0%, 100%);
}